/* Nav CSs */
    @media (max-width:600px) { 
        nav{
            padding: 0px 1.7rem !important;
        }
        .navbar-opt{
            padding-top: .7rem !important;
        }
        .navbar-language{
            padding-top: 1rem !important;
        }
        .nav-menu-body .navbar-right{
            margin-bottom: 20%;

        }
        .nav-menu-body .label-nav {
            font-size: 17px;
            font-family: Helveticas_medium;
        }
        .lang-idn{
            padding-right: 7.5px !important;
        }
        .lang-dlmtd{
            font-weight: 300 !important;
            font-size: 20px;
        }
        .lang-en{
            padding-left: 7.5px !important;
        }

        .nav-menu-body .label-nav-item {
            font-size: 12px;
            padding: 3px 0;
        }
        .nav-menu-body .navbar-medsos a{
            padding-right: 13px;
        }
        .carousel-text{
            padding-left: 6.5% !important;
        }
        .carousel-text svg{
            width: 73% !important;
        }
        .container-home .home-banner img {
            max-width: 23.3rem !important;
        }
        .banner-image{
            padding-bottom: 1.5rem !important;
        }
        .nav-menu-body ul{
            width: 50%;
            padding-left: 0;
            top: 45% !important;
        }

        /*ABOUT*/
            .eve .desc-isi-content {
                padding-left: 6.5% !important;
                padding-right: 6.5% !important;
                text-align: justify;
            }
            .header-sub-menu .square.me-3 {
                width: 40px !important;
                height: 40px !important;
            }
            .header-sub-menu .label {
                font-size: 50px !important;
            }
            .header-sub-menu .label.mt-1{
                margin-top: unset !important;
            }
        /*END ABOUT*/
        /*EVENT*/
            .container-event .image-layout .content .head-events {
                padding-bottom: 0 !important;
                padding-left: 3% !important;
                padding-right: 3% !important;
                font-size: 48px !important;
                margin-top: 37vw !important;
            }
            .container-event .event-list {
                height: 50% !important;
            }
            #container-event .image-layout img {
                max-width: 374px !important;
            }
            .desc-upcoming-event {
                padding-left: 6% !important;
                padding-right: 6% !important;
                text-align: justify;
                padding-bottom: 45px;
            }
            .in-event-page img{
                object-fit: cover !important;
            }
            .in-event-page .gpe-r{
                padding-right: 6.5% !important;
            }
            .in-event-page .gpe-l{
                padding-left: 6.5% !important;
            }
            .in-event-page .gpc-l{
                padding-left: 6.5% !important;
            }
            .in-event-page .gpc-r{
                padding-right: 6.5% !important;
            }
            .in-event-page > .row[label='even']{
                flex-direction: column-reverse;
            }
            .event.flex-row{
                flex-direction: column !important;
            }
            .event .d-flex.for-mobile{
                display: flex !important;
            }
            .event .for-mobile{
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-between;
                width: 100% !important;
            }
            .event .for-desktop{
                display: none !important;
            }
            .event-detail-container.show {
                margin-bottom: 5px;
            }
            .event-detail-container.show img{
                max-width: 21rem !important;
            }
            .event-detail-container.show .content-event{
                height: 100%;
            }
            .event-detail-container.show .bottom-container{
                padding-left: 5px;
                padding-right: 5px;
            }
        /*MEMBERSHIP*/
            .membership-bg{
                background-position-y: 0px !important;
            }
            .menu-tc-page .gpe-l{
                padding-left: 6.5% !important;
            }
            .menu-tc-page .gpe-r{
                padding-right: 6.5% !important;
            }
            .menu-tc-page .container-fluid .gpe-l{
                padding-left: unset !important;
            }
            .menu-tc-page .container-fluid .gpe-r{
                padding-right: unset !important;
            }
        /*END MEMBERSHIP*/
        /*FOOTER*/
            footer{
                margin-top: 1px;
            }
        /*END FOOTER*/
    }
    @media (max-width: 390px){
        .nav-menu-body ul{
            width: 53%;
        }
        .container-home .home-banner img {
            max-width: 21rem !important;
        }
        .header-sub-menu{
            padding: 1.3rem 1.5rem!important;
        }
        .header-sub-menu .label {
            font-size: 45px !important;
        }

        /*ABOUT*/
        .responsive-video{
            top:2rem !important;
        }
        .eve .desc-isi-content {
            padding-left: 7% !important;
            padding-right: 7% !important;
        }
        /*ABOUT*/
        /*EVENTS*/
        .container-event .image-layout .content .head-events {
            font-size: 43px !important;
        }
        #container-event .image-layout img {
            max-width: 21rem !important;
        }
        .event .d-flex.for-mobile{
            display: flex !important;
        }
        /*END EVENTS*/
    }
    @media (min-width:992px) { 
        .navbar-brand {
            left: 0%;
        }
        .nav-menu-body .label-nav {
            font-size: 25px;
            font-family: Helveticas_medium;
        }

        .nav-menu-body .label-nav-item {
            font-size: 20px;
            padding: 3px 0;
        }
        .navbar-medsos a{
            padding-right: 22.3px;
        }
        .navbar-medsos a:last-child{
            padding-right: 30px;
        }
    }
    @media (min-width:1141px) {
        nav {
            padding: 0px 4rem !important;
        }
    }
    @media (max-width:1140px) {
        nav {
            padding: 0px 2rem !important;
        }
    }
    nav * {
        font-family: Helveticass;
    }
    nav .navbar {
        height: 60px;
    }
    nav .navbar .navbar-contact {
        padding-right: 30px;
    }
    nav .navbar .navbar-contact a {
        color: black;
        transition: 0.2s ease-in-out;
    }
    nav .navbar .navbar-contact a:hover {
        background-color: black;
        color: white;
    }
    #menu-toggle-text{
        font-size: 18px;
    }
    .navbar button{
        border: none;
    }
    .navbar button:hover{
        color:#f58529;
    }
    .lang-idn{
        padding-right: 13px;
    }
    .lang-dlmtd{
        font-weight: 300 !important;
        font-size: 20px;
    }
    .lang-en{
        padding-left: 13px;
    }
    .nav-menu-body {
        top: -100vh;
        z-index: -100;
        transition: top 0.5s ease;
    }
    .nav-menu-body.show {
        top: 0; 
        min-height: 100vh;
        z-index: 3;
    }
    
    .nav-menu-body a {
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
        transition: 0.3s ease-in-out;
    }
    
    .nav-menu-body a:hover { 
        color: #f58529;
    }

    .nav-menu-body ul li {
        list-style: none;
    }
    

/* Close Nav Vss */
