[id] {
  scroll-margin-top: 5vh; /* Adjust for your header height */
}
/* Font */
    @font-face {
        font-family: Helveticass;
        src: url(../font/helvetica-neue-5/HelveticaNeueRoman.otf);
    }@font-face {
        font-family: Helveticasss;
        src: url(../font/helvetica-neue-5/HelveticaNeueThin.otf);
    }
/* Close Font */

/* Card Info Submit */
    .cardo {
        width: 320px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(135deg, #3bb78f, #feda75, #f58529);
        padding: 40px 30px;
        text-align: center;
        color: white;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.3s ease;
    }

    .info-done.show .cardo {
        opacity: 1;
        transform: scale(1);
    }
/* Close Card Info Submit */

/* Info Submit Membership */
    .confetti-wrapper {
        background-image: url('../lp-svg/Confetti\ 1.svg');
        background-size: cover; /* Gunakan cover agar penuh */
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
    }

/* Close Info Submit Membership */

/* Global */
    * {
        padding: 0;
        margin: 0;
        font-family: Helveticass;
    }
    
    .header-sub-menu {
        padding: 30px 0px;
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
    }
    .header-sub-menu .square {
        background-color: #F7941D;
        width: 45px;
        height: 45px;
    }
    .header-sub-menu .label{
        line-height: 50px;
        font-size: 60px;
        padding-top: .2rem;
    }

    .error-container {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 360px;
        background: gray;
        color: white;
        padding: 10px;
        border-radius: 5px;
        transition: 0.6s ease;
        opacity: 0;
        z-index: -5;
    }
    .error-container.show {
        display: block;
        opacity: 1;
        z-index: 1;
    }
    .label-warning {
        font-size: 20px;
        color: yellow;
        text-align: center;
    }
    .garis {
        margin: 3px 0;
        border: 1px solid black;
    }
/* Close Golbal */

/* Nav CSs */

    nav .navbar {
        height: 60px;
    }
    .navbar button{
        border: none;
    }
    .navbar button:hover{
        color:#f58529;
    }
    
    .nav-menu-body {
        top: -100vh;
        z-index: -100;
        transition: top 0.5s ease;
    }
    .nav-menu-body.show {
        top: 0; 
        z-index: 3;
    }
    
    .nav-menu-body a {
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
        transition: 0.3s ease-in-out;
    }
    
    .nav-menu-body a:hover { 
        color: #f58529;
    }

    .nav-menu-body ul li {
        list-style: none;
    }
    
    .nav-menu-body .label-nav {
        font-size: 25px;
    }

    .nav-menu-body .label-nav-item {
        font-size: 20px;
        padding: 3px 0;
    }

/* Close Nav Vss */

/* Home */
    .container-home {
        height: 100vh;
        overflow: hidden;
    }
    .carousel-item::after {
        content: '';
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .container-home .home-banner img{
        max-width: 500px;
    }
    
    .banner-image-solos {
        position: absolute;
        bottom: 105%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    .banner-image {
        position: absolute;
        bottom: 105%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation-name: fadeBanner;
        animation-duration: var(--banner-animation-duration);
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        transition: opacity 1s ease-in-out;
    }

    @keyframes fadeBanner {
        0%   { opacity: 0; z-index: 0; }
        5%   { opacity: 1; z-index: 1; }
        30%  { opacity: 1; z-index: 1; }
        35%  { opacity: 0; z-index: 0; }
        100% { opacity: 0; z-index: 0; }
    }
/* Close Home */

/* About */
    .eve {
        text-align: center;
        padding: 80px 50px;
        background-color: #f0f0f0;
    }
    .eve .container {
        padding: 80px 20px;
    }
    .eve .label-isi-content {
        color: #F7941D;
        font-size: 35px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .eve .desc-isi-content {
        font-size: 17px;
    }
/* Close About */

/* Board Of Management */
    .in-bom-page {
        padding: 50px 0;
        background-color: #f0f0f0;
    }
    .in-bom-page .period-container {
        text-align: center;
        border-left: 3px solid #F7941D;
        border-right: 3px solid #F7941D;
        width: 200px;
    }
    .in-bom-page .period-container .label {
        font-size: 14px;
        font-weight:600;
    }
    .in-bom-page .period-container .year {
        font-size: 27px;
        font-weight:500;
    }

    .in-bom-page .label-person {
        font-size: 35px;
        padding-top: 40px;
        color: #F7941D;
    }
    .in-bom-page .label-person-content {
        font-size: 20px;
        font-weight:700;
    }
    .in-bom-page .label-person-name {
        font-size: 22px;
    }
    .in-bom-page .container .person{
        display: flex;
        align-items: center;
        padding: 20px 100px;
    }

    .in-bom-page .container .person-2{
        display: flex;
        padding: 20px 100px;
    }
/* Close Board Of Management */

/* Page Event On Click */
    .event-s {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .event-s .container .label-event{
        font-size: 30px;
        font-weight: 600;
        padding-top: 20px;
    }
    .event-s .container .date-event {
        font-size: 20px;
        padding: 10px 0;
    }
    .event-s .container .desc-event {
        font-size: 17px;
        padding-bottom: 40px;
    }
    .event-s .container .info-event {
        font-size: 13px;
    }
/* Close Page Event On Click */

/* Events */
    .container-event .image-layout {
        position: relative;
        z-index: 0;
        background-image: url(./../lp-img/event.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .container-event .image-layout .layout {
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.453);
        width: 100%;
        height: 100vh;
    }

    .container-event .image-layout .content {
        position: absolute;
        z-index: 2;
        color: white;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .container-event .image-layout .content .head-events{
        font-size: 50px;
        padding-bottom: 30px;
    }

    .container-event .image-layout .content img {
        max-width: 500px;
    }
    .container-event .image-layout .content .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .in-event-page .row {
        padding: 0 !important;
        margin: 0 !important;
    }
    .in-event-page .tanggal {
        font-size: 14px;
        padding-bottom: 5px;
    }
    .in-event-page .label-event {
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .in-event-page .desc {
        font-size: 16px;
    }
/* Close Events */

/* Form Contact, Event Register, dan Membership */
    .form {
        display: flex;
        align-items: center;
        height: 100vh;
        background-color: black;
    }
    .form td input, .form td textarea,.form td select {
         border-radius: 0;
    }
    .form button {
        height: 40px;
        width:100px;
    }
    .form .label-eve {
        margin-top: 40px;
        font-size: 40px;
        color: white;
    }
    .form .header {
        display: flex;
    }
    .form .header .gray {
        background-color: gray;
        width: 20px;
    }
    .form .header .section-header {
        background-color: #F7941D;
        padding: 5px;
        color: white;
        width: 100%;
    }
    .form .table {
        margin: 14px 0px !important;
    }
    .form .table td {
        background-color: black;
        color: white !important;
        border: none;                
    }
    .form .btn-submit {
        color: white;
        border-radius: 50px;
        padding: 5px 40px;
        background-color: #F7941D;
    }
    .form .btn-submit:hover {
        background-color: #874a00;
        color: #f0f0f0;
    }
/* Close Form Contact, Event Register, dan Membership */

/* Terms & Condition */
    .terms {
        background-color: #f0f0f0;
    }
    .terms .container {
        padding: 80px 0;
    }

    .terms .container .label-page {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .terms h3 {
        color: #F7941D;
    }
/* Close Terms & Condition */

/* Footer */
    footer {
        padding: 40px 0px;
    }
/* Close Footer */