@font-face {
    font-family: Helveticass;
    src: url(../font/helvetica-neue-5/HelveticaNeueRoman.otf);
}
@font-face {
    font-family: BebasNeue;
    src: url(../font/bebas-neue/BebasNeue_Regular.otf);
}
html {
  scroll-behavior: smooth; /* for smooth scrolling */
  scroll-padding-top: 10vh; /* pushes target 40% down the viewport */
}
* {
    padding: 0;
    margin: 0;
    font-family: Helveticass;
}
.container-home {
    height: 100vh;
    overflow: hidden;
}

.object-cover {
    object-fit: contain;
}

.container-home .home-banner img{
    max-width: 400px;
}
/* Nav CSs */

    nav * {
        font-family: Helveticass;
    }
    nav .navbar {
        height: 60px;
    }
    nav .navbar .navbar-contact {
        padding-right: 30px;
    }
    nav .navbar .navbar-contact a {
        color: black;
        transition: 0.2s ease-in-out;
    }
    nav .navbar .navbar-contact a:hover {
        background-color: black;
        color: white;
    }
    #menu-toggle-text{
        font-size: 18px;
    }
    .navbar button{
        border: none;
    }
    .navbar button:hover{
        color:#f58529;
    }
    .navbar-language a {
        color: black;
    }
    .lang-idn{
        padding-right: 13px;
    }
    .lang-idn a:hover{
        transition: 0.2s ease-in-out;
        color: #f58529;
    }
    .lang-dlmtd{
        font-weight: 300 !important;
        font-size: 20px;
    }
    .lang-en{
        padding-left: 13px;
    }
    .lang-en a:hover{
        transition: 0.2s ease-in-out;
        color: #f58529;
    }
    .nav-menu-body {
        top: -100%;
        z-index: -100;
        transition: top 0.5s ease;
    }
    .nav-menu-body.show {
        top: 0; 
        min-height: 100vh;
        z-index: 3;
        padding-top: 7vh;
    }
    .nav-menu-body a {
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
        transition: 0.3s ease-in-out;
    }
    .nav-menu-body a:hover { 
        color: #f58529;
    }
    .nav-menu-body ul li {
        list-style: none;
    }
    .nav-menu-body .label-nav-contact-lg{
        display: block;
    }
    .nav-mobile-medsos {
        display: none;
    }
    .navbar-medsos svg path:first-child{
        transition: all 0.8s;
    }
    .navbar-medsos svg:hover > path:first-child{
        fill: #f58529;
        transition: all 0.8s;
    }

    @media (max-width:991px) { 
        nav{
            padding: 0px 1.7rem !important;
        }
        nav .navbar-brand svg {
            width: 80 !important;
        }
        .navbar-opt{
            padding-top: .7rem !important;
        }
        .navbar-language{
            padding-top: 1rem !important;
        }
        .nav-menu-body .navbar-right{
            margin-bottom: 20%;

        }
        .nav-menu-body .label-nav {
            font-size: 19px;
            font-family: Helveticas_medium;
        }
        .lang-idn{
            padding-right: 7.5px !important;
        }
        .lang-dlmtd{
            font-weight: 300 !important;
            font-size: 20px;
        }
        .lang-en{
            padding-left: 7.5px !important;
        }
        .nav-menu-body .label-nav-item {
            font-size: 15px;
            padding: 3px 0;
        }
        .carousel-text{
            padding-left: 6.5% !important;
        }
        .carousel-text svg{
            width: 73% !important;
        }
        .nav-menu-body ul{
            width: 100%;
            text-align: center;
            padding-left: 0;
            top: 44% !important;
        }
        .nav-menu-body .label-nav-contact a{
            background: white;
            font-family: Helveticas_light;
            padding-left: 10px;
            padding-right: 10px;
            color: black;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .nav-menu-body .label-nav-contact-lg {
            display: none;
        }
        .nav-mobile-medsos {
            display: flex;
            flex-direction: column;
            /*position:absolute;*/
            /*right:50% !important;
            transform: translate(50%, -50%);
            bottom: 7.1rem;*/
        }

        /* Handphone Landscape */

            @media (max-height:430px) { 

                /* Navbar */

                    .nav-menu-body ul{
                        bottom: 0rem !important;
                        top: 46% !important;
                    }
                    .nav-mobile-medsos {
                        bottom: 0% !important;   
                    }
                    .nav-menu-body .label-nav {
                        padding-bottom: 0.3rem !important;
                        font-size: 11px;
                        font-family: Helveticas_medium;
                    }
                    .nav-menu-body .label-nav-item {
                        font-size: 8px;
                        padding: 0px 0;
                    }
                    .nav-menu-body .label-nav-contact a{
                        padding: 6px 8px 2px 8px !important;
                    }
                
                /* End navbar */

            }

        /* End Handphone Landscape */
    }
    @media (max-width: 390px){
        .nav-menu-body ul{
            width: 100%;
            text-align: center;
            top: 43% !important;
        }
        .nav-menu-body .label-nav {
            font-size: 14px;
            font-family: Helveticas_medium;
            padding-bottom: 13px !important;
        }
        .nav-menu-body .label-nav-item {
            font-size: 11px;
            padding: 3px 0;
        }
    }

    @media (min-width:992px) { 
        .navbar-brand {
            left: 0%;
        }

        .navbar-menu-body-mobile {
            display: none;
        }

        .nav-menu-body .label-nav {
            font-size: 25px;
            font-family: Helveticas_medium;
            padding-bottom: 12px !important;
        }

        .nav-menu-body .label-nav-item {
            font-size: 20px;
            padding: 3px 0;
        }
        .navbar-medsos a{
            padding-right: 22.3px;
        }
        .navbar-medsos a:last-child{
            padding-right: 30px;
        }
    }
    @media (min-width:1141px) {
        nav {
            padding: 0px 4rem !important;
        }
    }
    @media (max-width:1140px) {
        nav {
            padding: 0px 2rem !important;
        }
    }
    

/* Close Nav Vss */

/* Global */
    .alert[data]{
        position: fixed;
        top: 8vh;
        right: -500px;
        opacity: 0;
        transition: all 0.8s;
    }
    .alert[data].show{
        right: 0;
        opacity: 1;
        transition: all 0.8s;
        z-index: 10000;
    }
    ul li {
        list-style: none;
        padding: 2px 0px;
    }
    ul li *{
        text-decoration: none !important;
        color: white !important;
    }
    h2 {
        color: #F7941D;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    footer {
        padding: 40px 0px;
    }
    .content-container{
        padding-top: 10vh;
        padding-left: 22vw !important;
        padding-right: 49px !important;
        padding-bottom: 15px !important;
        opacity: 0;
        pointer-events: none;
        display: none;
    }
    .content-container.is-have-title-desc{
        padding-top: 15vh;
    }
    .content-container.show{
        transition: all 0.8s;
        opacity: 1;
        pointer-events: auto;
        display: block;
    }
    .loading-container{
        opacity: 0;
        pointer-events: none;
        position: fixed;
        height: 93vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        right: 0;
        bottom: 0;
        padding: 0 !important;
        transition: all 0.4s;
        padding-left: 22vw !important;
    }
    .loading-container.show{
        transition: all 0.8s;
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .modal-dialog .loading-container{
        padding: 0 !important;
        position: absolute;
        width: 100% !important;
        height: 100% !important;
    }
    .form-label {
      font-weight: 500;
    }
    .submit-btn {
      background-color: #f7941d;
      color: white;
      font-weight: bold;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
    }
    .cancel-form-btn {
      /*opacity: 0;
      pointer-events: none;*/
      font-weight: bold;
      border: none;
      padding: 10px 30px !important;
      border-radius: 20px !important;
      /*transition: all .8s;*/
    }
    /*.cancel-form-btn.show{
      opacity: 1;
      pointer-events: auto;
      transition: all .8s;
    }*/
    .accordion-button{
      z-index: 1 !important;
    }
    @media(max-width: 600px){
        .content-container{
            padding-left: 10vw !important;
            padding-ritgh: 10vw !important;
        }
        .content-container{
            padding-top: 5vh !important;
        }
    }
/* Close Global */

/*Sidebar*/

    nav.sidebar{
        margin-top: 10vh !important;
        padding-top: 0 !important;
        background-color: transparent;
        bottom: 0;
        float: none;
        left: 0;
        position: fixed;
        top: 0;
        height: 100vh;
        overflow-y: hidden;
        z-index: 1038;
        width: 20vw !important;
        padding-left: 49px !important;
    }
    nav.sidebar.is-have-title-desc{
        margin-top: 15vh !important;
    }
    /*.header-bar {
      background-color: #f7941d;
      color: white;
      font-weight: bold;
      letter-spacing: 5px;
      padding: 10px 20px;
      border-left: 20px solid #666;
    }*/
    .nav-link.active {
        background-color: transparent;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: bold;
        background-color: #f7941d !important;
        border-left: 20px solid #666 !important;
    }
    @media(max-width: 600px){
        nav.sidebar{
            display: none !important;
        }
    }
/*End Sidebar*/

/*Row Data*/
    .list-unstyled li{
        padding-left: 5px;
        transition: all .8s;
    }
    .list-unstyled .row-previous-event.active, .list-unstyled .row-news.active{
        color: white !important;
        background-color: #666;
        transition: all .8s;
        padding-left: 15px;
    }
    .list-unstyled .row-certificate a{
        color: #757575 !important;
        text-decoration: underline !important;
    }
/*End Row Data*/

/*Previous Events*/
    .gallery-modal, #membershipModal .modal-dialog{
        max-width: 90vw !important;
    }
    .gallery-modal .modal-content{
        height: 50vw !important;
    }
    .drop-zone {
      border: 2px dashed #ccc;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      background-color: #f9f9f9;
    }

    .drop-zone.dragover {
      background-color: #e9ecef;
    }

    .gallery-preview {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 15px;
    }

    .gallery-item {
      position: relative;
      width: 120px;
      height: 120px;
      border: 1px solid #ddd;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    }

    .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .remove-btn {
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      border: none;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      cursor: pointer;
    }
/*End Previous Events*/


/*Card Member*/
    .border-card{
        border-radius: 20px;
        border-radius: 10px solid;
    }
    .card-container {
      width: 556px;
      height: 349px;
      border-radius: 28px;
      position: relative;
      overflow: hidden;
      color: #fff;
      font-family: 'Arial', sans-serif;
      padding: 30px;
    }
    .content-container.document-resources-index .card-container{
        width: 506px;
        height: 318px;
    }

    .profile-photo {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
      /*border: 5px solid #fff;*/
      position: absolute;
      bottom: 44px;
      left: 42px;
      background-position-x: center !important;
      background-position-y: top !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
    .content-container.document-resources-index .card-container .profile-photo{
        width: 120px;
        height: 120px;
        bottom: 44px;
        left: 39px;
    }

    .info-name {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .info-details {
        display: inline-block;
        padding: 4px 10px;
        margin-top: 5px;
        font-size: 0.9rem;
        border: 1px solid white;
        min-width: 106px;
        min-height: 32px;
        text-align: center;
        /*vertical-align: middle;*/
    }
    .info-details:last-of-type {
        margin-left: -5px;
    }

    .right-info {
      position: absolute;
      bottom: 46px;
      left: 200px;
    }
    .content-container.document-resources-index .card-container .right-info {
      bottom: 46px;
      left: 180px;
    }
    .right-info .info-name, .right-info .info-details{
      font-family: 'BebasNeue' !important;
      letter-spacing: 1.5px;
    }
    @media(max-width: 600px){
        .content-container.document-resources-index .card-container {
            position: fixed !important;
            left: -200vw;
        }
    }
/*END CARD MEMBER*/

/*TABLE MEMBER*/
    .table-responsive{
        min-height: 70vh !important;
    }
/*END TABLE MEMBER*/

/* HEADER MEMBER DASHBOARD */
    .header-member-dashboard{
        margin-top: 10vh !important;
        display: none;
    }
    .header-profile-photo {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      object-fit: cover;
      /*border: 5px solid #fff;*/
      background-position-x: center !important;
      background-position-y: top !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    @media (max-width:600px) { 
        .header-member-dashboard{
            display: block;
        }
        .header-member-dashboard.is-have-title-desc{
            margin-top : 15vh !important;
        }
        .header-member-dashboard.is-have-title-desc .{
            margin-top : 15vh !important;
        }
    }
/* END HEADER MEMBER DASHBOARD */

/*Utilities*/
.sendToPdfFiller {
  display: none !important;
}
/*End Utilities*/