@font-face {
    font-family: Helveticass;
    src: url(../font/helvetica-neue-5/HelveticaNeueRoman.otf);
}
html {
  scroll-behavior: smooth; /* for smooth scrolling */
  scroll-padding-top: 10vh; /* pushes target 40% down the viewport */
}
* {
    padding: 0;
    margin: 0;
    font-family: Helveticass;
}
.container-home {
    height: 100vh;
    overflow: hidden;
}

.object-cover {
    object-fit: contain;
}

.container-home .home-banner img{
    max-width: 400px;
}
/* Nav CSs */
    .navbar-contact .btn{
        color: black !important;
    }
    .navbar-contact .btn:hover{
        color: white !important;
    }
    nav .navbar {
        height: 60px;
    }
    
    .nav-menu-body {
        top: -100vh;
        transition: top 0.5s ease;
    }
    .nav-menu-body.show {
        top: 0;
        position: fixed !important;
    }
/* Close Nav Vss */

/* Global */
    .alert[data]{
        position: fixed;
        top: 8vh;
        right: -500px;
        opacity: 0;
        z-index: 2;
        transition: all 0.8s;
    }
    .alert[data].show{
        right: 0;
        opacity: 1;
        transition: all 0.8s;
    }
    ul li {
        list-style: none;
        padding: 2px 0px;
    }
    ul li *{
        text-decoration: none !important;
        color: white !important;
    }
    h2 {
        color: #F7941D;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    footer {
        padding: 40px 0px;
    }
    .content-container{
        padding-top: 10vh;
        padding-left: 22vw !important;
        padding-right: 49px !important;
        padding-bottom: 15px !important;
        opacity: 0;
        pointer-events: none;
        display: none;
    }
    .content-container.show{
        transition: all 0.8s;
        opacity: 1;
        pointer-events: auto;
        display: block;
    }
    .loading-container{
        opacity: 0;
        pointer-events: none;
        position: fixed;
        height: 93vh;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        right: 0;
        bottom: 0;
        padding: 0 !important;
        transition: all 0.4s;
        padding-left: 22vw !important;
    }
    .loading-container.show{
        transition: all 0.8s;
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .form-label {
      font-weight: 500;
    }
    .submit-btn {
      background-color: #f7941d;
      color: white;
      font-weight: bold;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
    }
    .accordion-button{
      z-index: 1 !important;
    }
/* Close Global */

/*Sidebar*/

    nav.sidebar{
        margin-top: 10vh !important;
        padding-top: 0 !important;
        background-color: transparent;
        bottom: 0;
        float: none;
        left: 0;
        position: fixed;
        top: 0;
        height: 100vh;
        overflow-y: hidden;
        z-index: 1038;
        width: 20vw !important;
        padding-left: 49px !important;
    }
    /*.header-bar {
      background-color: #f7941d;
      color: white;
      font-weight: bold;
      letter-spacing: 5px;
      padding: 10px 20px;
      border-left: 20px solid #666;
    }*/
    .nav-link.active {
        background-color: transparent;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: bold;
        background-color: #f7941d !important;
        border-left: 20px solid #666 !important;
    }
/*End Sidebar*/

/*Utilities*/
.sendToPdfFiller {
  display: none !important;
}
/*End Utilities*/